.App-logo {
	height: 500px;
	width: 500px;
	align-self: center;
	margin-top: 1%;
}
@media all {
	.App-logo {
		animation: App-logo-spin infinite 7s linear;
	}
}
@media (max-width: 600px) {
	.App-logo {
		height: 200px;
		width: 200px;
		/* display: none; */
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
